.create__listing_btn{
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: rgb(225, 225, 225);
    transition: all 0.5s ease;
    &:hover{
        background-color: rgb(50, 50, 50);

    }
    
}

//form
.form-user-listings{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 30px;
}
.create-listing-heading{
     margin-left: 30px;
}
@media screen and (max-width: 680px) {
    .form-user-listings{
        grid-template-columns: auto;
    }

}

.formLabel {
  font-weight: 600;
  margin-top: 1rem;
  display: block;
}

.formButtons {
  display: flex;
}

.formButton,
.formInput,
.formInputAddress,
.formInputName,
.formInputSmall,
.formInputFile,
.formButtonActive {
  padding: 0.9rem 3rem;
  border: none;
  outline: none;
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  margin: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formButtonActive {
  background-color: #33a0b9;
  color: #ffffff;
}

.flex {
  display: flex;
}

.formInput,
.formInputAddress,
.formInputName,
.formInputSmall,
.formInputFile {
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}
.formInputSmall{
  margin-right: 3rem;
  padding: 0.9rem 0.7rem;
  text-align: center;
  width: 80%;
  max-width: 100px;
}
.formInputFile{
    margin-right: 3rem;
  padding: 0.9rem 0.7rem;
  text-align: center;
  width: 70%;
  

}

.formInputName {
  padding: 0.9rem 1rem;
  width: 90%;
  max-width: 326px;
}

.formInputAddress {
  padding: 0.9rem 1rem;
  width: 90%;
  max-width: 326px;
}

.formPriceDiv {
  display: flex;
  align-items: center;
}

.formPriceText {
  margin-left: -1.5rem;
  font-weight: 600;
}

.imagesInfo {
  font-size: 0.9rem;
  opacity: 0.75;
}

.formInputFile {
  width: 100%;
}
.formInputFile::-webkit-file-upload-button {
  background-color: #6EC5D8;
  border: none;
  color: #ffffff;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  margin-right: 1rem;
}

.createListingButton {
  margin-top: 5rem;
}

.offers {
  margin-bottom: 10rem;
}

.offerBadge {
  padding: 0.25rem 0.5rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: 1rem;
  margin-left: 1rem;
  font-size: 0.8rem;
  opacity: 0.75;
}