
@import '../variables';

.navbar{
    height: 80px;
    width: 100%;
    max-width: 1360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo{
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        svg{
            margin-right: 10px;
        }
        .mobile-menu{
            height: 20px;
            width: 25px;
        }
    }
}

.sidebar{
    position: absolute;
    top: 130px;
    list-style: none;
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    &__link{
        width: 80px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: $text-color;
        justify-content: center;
        position: relative;
        transition: all 0.5s ease;
        cursor: pointer;

        svg{
           height: 35px;
           width: 35px;
           opacity: 0.5;
        }

        &:hover{
            background: rgba(250, 250, 250, 0.15);
            box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15), inset 0px 1px 0px rgba(35, 35, 35, 0.7);
            border-radius: 10px;
            svg{
                color: $blue-light;
                opacity: 1;
            }
            &:hover::after{
                content: '';
                height: 40px;
                width: 4px;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                background: $blue-light;
                border-radius: 100px;
                
            }

        }
        
    }
}

.active{
    background: rgba(250, 250, 250, 0.15);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15), inset 0px 1px 0px rgba(35, 35, 35, 0.7);
    border-radius: 10px;
            
    svg{
        color: $blue-light;
        opacity: 1;
        }
        &::after{
            content: '';
            height: 40px;
            width: 4px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background: #6EC5D8;
            border-radius: 100px;
                        
            }

        }

.mobile-menu{
    display: none;
}

.profile-link{
    background-color: rgb(40, 40, 40);
    color: rgb(221, 221, 221);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 13px 23px;
}

@media screen and (max-width: 680px) {
    .navbar{
        padding: 5px;
         &__logo{
            svg{
                width: 40px;
                height: 40px;
            }
         }
    }
    .mobile-menu{
        display: block;
        cursor: pointer;
    }
    .sidebar{
        display: none;
    }
   
    .open{
        position: absolute;
        top: 80px;
        background-color: $bg-color;
        z-index: 100;
        width: 120px;
        height: 100%;
        padding: 10px;
        padding-top: 20px;
    }
    .profile-link{
        padding: 8px 18px;
    }
   
    
}

