@import '../variables';
.profile{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-top: 20px;
   &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 600px;
        width: 90%;
            &__title{
                color: $text-color;
                padding: 2px;
                font-weight: 500;
                font-size: clamp(1.8rem, 0.25rem + 4vw, 2.5rem);
                line-height: 49px;
            }
   }
   &__details{
        max-width: 600px;
        width: 90%;
        margin-top: 30px;
        &__container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 600px;
            width: 100%;
            margin:auto;
        }
        &__btn{
                background-color: #6EC5D8;
                color: #000;
                border-radius: 10px;
                cursor: pointer;
                padding: 5px 10px;
                font-size: 15px;
        }
   }
   &__card{
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    margin-top: 20px;

   }
   &__name{
        background:none;
        border: none;
        outline: none;
        background-color: rgb(40, 40, 40);
        color: rgb(221, 221, 221);
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: rgba(0, 0, 0, 0.2);
        max-width: 500px;
        width: 100%;
       
        &--active{
            background:none;
            border: none;
            outline: none;
            background-color: rgb(64, 64, 64);
            color: rgb(221, 221, 221);
            padding: 1rem;
            box-shadow: rgba(0, 0, 0, 0.2);
            max-width: 500px;
            width: 100%;
            
            
        }


   }

}






